/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #90ee90;
  --secondary-color: #2e8b57;
  --accent-color: #c9a081;
  --background-color: #272138;
  --trasnparent-background-color: #453c64;
  --text-color: #8d8d8d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  z-index: 1;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

h3 {
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: white;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  display: flex;
  padding: 4rem;
  height: 100vh;
  box-sizing: border-box;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center; /* SNAP functionality*/
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh; /*now we have a fit, so it actually snaps*/
    scroll-snap-type: y mandatory; /* SNAP mandatory ou proximity */
    overflow-y: scroll; /*SNAP overflow quando houver scroll vertical */
  }

  .section-container {
    display: flex;
  }
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: space-between;
  width: 960px;
  gap: 5rem;
  height: 80vh; /*i want header to 20vh*/
}

.pic {
  border-radius: 50%;
  filter: grayscale(1);
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: --p;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary-color);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  color: #2e8b57;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline: 25%;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem; /*this is so the text isn't just bellow the container*/
}

.about-details-container {
  /* justify-content: center; */
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background-color: var(--trasnparent-background-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  display: flex;
  flex-direction: column;
  padding-inline: 25%;
  position: relative; /* why relative? */
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  width: 100%;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin: 2rem auto;
  padding: 0.5rem;
  justify-content: flex-start;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #experience,
  #about {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: flex;
    justify-content: center;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .details-container {
    min-width: 25vw;
  }
}

@media screen and (max-width: 600px) {
  section {
    height: fit-content;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
    color: var(--secondary-color);
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

.navigation {
  height: 80px;
  width: 100%;
}

.glass {
  width: 250px;
  height: 250px;
  margin: 15px;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  background: linear-gradient(
    50deg,
    rgba(0, 227, 212, 0.2),
    rgba(166, 0, 255, 0.2)
  );
  box-shadow: 0 26px 2pc, rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: left;
  color: aliceblue;

  transition: transform 0.4s ease-in;
}

.largeIcon {
  font-size: 2rem;
}

.qr-code {
  width: 300px;
  height: 300px;
}

.qr-code:hover,
.glass:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in;
}

.AntButton1 {
  background-color: var(--accent-color);
}

.AntButton1:hover {
  background-color: var(--accent-color);
}

.AntButton2 {
  background-color: var(--background-color);
  color: var(--text-color);
}
